<h1>Kids</h1>
<% @kids.each do |kid| %>

  <div class="card mb-3">
    <div class="card-block">
      <div class="row">
        <div class="col-2">
          <%= image_tag kid.photo %>
        </div>
        <div class="col-10">
          <p class="card-text"><strong><%= link_to kid.name, kid %></strong></p>
          <p class="card-text"><%= kid.age %> years old</p>
        </div>
      </div>
    </div>
  </div>
<% end %>